body {
    font-family: 'Arial', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px;
    background: linear-gradient(135deg, #70e1f5 0%, #ffd194 100%);
    color: #333;
}

h1 {
    color: #ffffff;
    margin: 0;
    padding: 10px 0;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #002244; 
    margin: 5px 0;
    font-size: 1.2em;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6); 
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

input[type=text] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.weatherData {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    form {
        width: 90%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }
}
